body {
  background-color : #EAF6F6;
}

hr {
  border-style : dotted none none;
  border-width : 5px;
  border-color : grey;
  width : 5%;
}

img {
height : 160px;
width : 160px;
border-radius: 50%;
}

h1{
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
